variable "VULTR_API_KEY" {}


provider "vultr" {
  api_key    = var.VULTR_API_KEY
  rate_limit = 700
}

resource "vultr_firewall_group" "untrust" {
  description = "untrust"
}


{%- for site in sites %}
resource "vultr_firewall_group" "{{ site }}-inside" {
  description = "{{ site }}-inside"
}
{% endfor %}

{%- for site in sites %}
resource "vultr_instance" "{{ site }}01" {
  region = "{{ site }}"
  plan = "vhf-1c-1gb"
  label = "{{site}}01"
  hostname = "{{ site }}01.lug.sh"
  os_id = "352"
  enable_ipv6 = true
  activation_email = false
  user_data = data.template_cloudinit_config.vm-config.rendered
}
{% endfor %}
